---
import BossMessage from "../components/BossMessage.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Akashi Intelligence official">
	<main class="bg-white">
		<Hero />
		<BossMessage />
	</main>
</Layout>
