<section class="@container w-full">
    <div
        class="flex flex-col @[1080px]:flex-row items-end @[1080px]:items-start justify-center gap-[50px] @[1080px]:gap-[80px]
        px-[30px] py-[50px] @[1080px]:px-[50px] @[1080px]:py-[100px]"
    >
        <!-- Image is here! -->
        <img src="/yamamoto.jpg" alt="yamamoto" class="w-full @[1080px]:w-[35vw] aspect-[3/2] @[1080px]:aspect-[2/3] rounded-[40px] object-cover object-top"/>

        <!-- Text is here! -->
        <div class="w-full max-w-[600px] flex flex-col items-end gap-[60px]">
            <h1 class="text-[64px] leading-[1.4] text-black"><span class="text-[var(--primary-red)]">代</span>表挨拶</h1>
            <h2 class="text-[40px] leading-[1.4] text-black">高専がDXで健康長寿社会を実現する</h2>
            <p class="text-[16px] leading-[2.0] text-black">
                Akashi Intelligenceは「AI×運動で健康長寿社会をつくる」をモットーとして掲げています。
                これからも深刻化する少子高齢化による若者の介護人口の増加と負担増化は、必ずや我が国の経済力と幸福度の低下を招くでしょう。
                多くの企業がロボットを始めとした介護援助システムの開発に邁進する中、我々はそはもそも介助の必要がある人口を減らすという点に着目し、日々の運動姿勢を見直すきっかけとなるような商品の開発に勤しんでおります。
                今後は販路を広げ、使用者から得られた運動データを用いた新製品の開発にも乗り出す事で、健康長寿社会を形作るトップランナーとして走り続けて参ります！
                今後とも当社への一層のご理解とご支援を賜りますよう、お願い申し上げます。
            </p>
            <div class="flex flex-col gap-[10px] items-end">
                <p class="text-[16px]">代表取締役社長</p>
                <p class="text-[40px]">山本 一輝</p>
            </div>
        </div>
    </div>
</section>
