<header
    class="flex items-center justify-between h-[100px] w-full px-[30px] @3xl:px-[50px]"
>
    <div class="flex items-center gap-2">
        <h1 class="text-[16px]">Logo</h1>
        <p class="text-[20px]">Akashi Intelligence</p>
    </div>

    <div class="text-[20px]">Menu</div>
</header>
