---
import Header from "./Header.astro";
---

<section
    class="@container flex flex-col items-center justify-center w-full h-full bg-[url('/hero-bg.svg')] bg-center bg-cover bg-no-repeat"
>
    <Header />
    <div class="w-full px-[30px] pb-[50px] @[1080px]:px-[100px] @[1080px]:pb-[100px] @[1080px]:mx-auto">
        <div
            class="flex flex-col @[1080px]:flex-row-reverse items-start @[1080px]:gap-[15vw]"
        >
            <!-- Image -->
            <img
                src="/hero.png"
                alt="hero"
                class="w-full aspect-[3/2] @[1080px]:aspect-[3/4] @[1080px]:w-[35vw] rounded-[40px] object-cover"
            />

            <div
                class="flex flex-col gap-[50px] @[1080px]:gap-[100px] pt-[30px] @[1080px]:pt-[100px] w-full max-w-[400px]"
            >
                <h1 class="text-[48px] leading-[1.4] text-black font-bold">
                    <span class="text-[64px] text-[var(--primary-red)]">77</span>億人に履かせるインソール👟
                </h1>
                <p class="text-[16px] leading-[2.0] text-black font-normal">
                    Akashi
                    Intelligenceは「AI×運動で健康長寿社会をつくる」をモットーとして掲げています。
                    これからも深刻化する少子高齢化による若者の介護人口の増加と負担増化は、必ずや我が国の経済力と幸福度の低下を招くでしょう。
                    多くの企業がロボットを始めとした介護援助システムの開発に邁進する中、我々はそはもそも介助の必要がある人口を減らすという点に着目し、日々の運動姿勢を見直すきっかけとなるような商品の開発に勤しんでおります。
                    今後は販路を広げ、使用者から得られた運動データを用いた新製品の開発にも乗り出す事で、健康長寿社会を形作るトップランナーとして走り続けて参ります！
                    今後とも当社への一層のご理解とご支援を賜りますよう、お願い申し上げます。
                </p>
            </div>
        </div>
    </div>
</section>
