<section class="w-full px-[30px] py-[100px]">
    <!-- bg: raineer image -->
    <div class="flex flex-col items-center gap-[30px] w-full py-[100px] rounded-[40px] bg-slate-500">
        <h2 class="text-[64px] leading-[1.4] text-white text-center">
            「R☆AI☆NNER」が<br />
            1人のランナーに合わせて、<br />
            サポートを提供する。
        </h2>
        <p class="text-[20px] leading-[2.0] text-white max-w-[1080px]">
            我々が開発中の「R☆AI☆NNER」はシューズのインソール内の圧力センサーが読み取った数値から着地位置、歩幅、着地衝撃、足首の角度、などのデータを計測することで、ケガを未然に防ぎ、データから走りを自動的に分析し、携帯アプリを通してランナーにより安全で効率的なランニングフォームをコーチングしてくれるAIシューズです。
        </p>
    </div>
</section>
